@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;900&display=swap);

.card {
  width: 25rem;
  height: 17rem;
  margin: 20px 8px 8px 8px;
  padding: 0px 0 200px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  border-radius: 8px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: rgba(6, 9, 62, 0.4) /* #191040 */;
  color: rgba(242, 255, 253, 0.9);

  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.close_button_div {
  width: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}
.close_button {
  width: 25px;
  height: 25px;
  margin-bottom: 0.1rem;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: black;
}
.close_button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: tomato;
}

.h1_title {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 40px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.grid_city_data {
  width: 100%;
  display: grid;
  grid-template: 100px 1fr / 1fr 1fr 1.05fr;
}
.grid_city_data img {
  justify-self: center;
}

/* http://api.openweathermap.org/data/2.5/weather?q=${ciudad}&appid=4ae2636d8dfbdc3044bede63951a019b */
